@model CristoRey.Models.ASIGNACION_CURSO_DOCENTE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ASIGNACION_CURSO_DOCENTE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Curso")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CURSO.nom_cur)
        </dd>

        <dt>
            @Html.DisplayName("Docente")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOCENTE.nom_doc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cod_acd }) |
    @Html.ActionLink("Back to List", "Index")
</p>
