@model CristoRey.Models.ALUMNO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ALUMNO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Distrito")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISTRITO.nom_dis)
        </dd>

        <dt>
            @Html.DisplayName("Padre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PADRE_FAMILIA.nom_paf)
        </dd>

        <dt>
            @Html.DisplayName("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_alum)
            @Html.DisplayFor(model => model.app_alum)
            @Html.DisplayFor(model => model.apm_alum)
        </dd>

        <dt>
            @Html.DisplayName("DNI")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dni_alum)
        </dd>

        <dt>
            @Html.DisplayName("Fecha Nacimiento")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fna_alum)
        </dd>

        <dt>
            @Html.DisplayName("Sexo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sex_alum)
        </dd>

        <dt>
            @Html.DisplayName("Correo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cor_alum)
        </dd>

        <dt>
            @Html.DisplayName("Telefono")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel_alum)
        </dd>

        <dt>
            @Html.DisplayName("Direccion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dir_alum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cod_alum }) |
    @Html.ActionLink("Back to List", "Index")
</p>
