@model CristoRey.Models.PADRE_FAMILIA

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    

    @Html.AntiForgeryToken()
    @Html.Raw(TempData["msg"])

    <div class="form-horizontal">
        <h4>PADRE_FAMILIA</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nom_paf, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nom_paf, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Apellido Paterno", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.app_paf, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.app_paf, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Apellido materno", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.apm_paf, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.apm_paf, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("DNI", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dni_paf, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dni_paf, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Fecha de Nacimiento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fna_paf, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fna_paf, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Sexo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.sex_paf, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sex_paf, "", new { @class = "text-danger" })*@
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem
                    {
                        Text = "Masculino",
                        Value = "M"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Femenino",
                        Value = "F"
                    });
                }
                @Html.DropDownListFor(model => model.sex_paf, listItems, "-- Seleccione su sexo --", new { @class = "btn btn-default dropdown-toggle" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Correo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cor_paf, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cor_paf, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Telefono", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tel_paf, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tel_paf, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Direccion", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dir_paf, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dir_paf, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Apoderado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.apo_paf, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.apo_paf, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Telefono Apoderado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tel_apo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tel_apo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cod_dis, "Distrito", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("cod_dis", null, "-- Seleccione el distrito --" , htmlAttributes: new { @class = "form-control" })*@
                @*@Html.ValidationMessageFor(model => model.cod_dis, "", new { @class = "text-danger" })*@


                @Html.DropDownList("DEPARTAMENTO", ViewBag.Deps as SelectList, "Select", htmlAttributes: new { @class = "form-control" })
                @Html.DropDownList("PROVINCIA", ViewBag.Provs as SelectList, "Select", htmlAttributes: new { @class = "form-control" })
                @Html.DropDownList("DISTRITO", ViewBag.Dist as SelectList, "Select", htmlAttributes: new { @class = "form-control" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">

    $(document).ready(function () {
        $("#DEPARTAMENTO").change(function () {
            $("#PROVINCIA").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getProvincias")',
                dataType: 'json',
                data: { id: $("#DEPARTAMENTO").val() },
                success: function (provincias) {
                    $("#PROVINCIA").append('<option value="' + '">Select</option>');
                    $.each(provincias, function (i, provincias) {
                        $("#PROVINCIA").append('<option value="' + provincias.Value + '">' +
                        provincias.Text + '</option>');
                    });
                },
            });


            $("#DISTRITO").empty();
            $("#DISTRITO").append('<option value="' + "" + '">Select</option>');
        });

        $("#PROVINCIA").change(function () {
            $("#DISTRITO").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getDistritos")',
                dataType: 'json',
                data: { id: $("#PROVINCIA").val() },
                success: function (distritos) {
                    $("#DISTRITO").append('<option value="' + "" + '">Select</option>');
                    $.each(distritos, function (i, distritos) {
                        $("#DISTRITO").append('<option value="' + distritos.Value + '">' +
                        distritos.Text + '</option>');
                    });
                },
            });
        });
    });
</script>
}
