@model CristoRey.Models.PADRE_FAMILIA

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PADRE_FAMILIA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Distrito")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISTRITO.nom_dis)
        </dd>

        <dt>
            @Html.DisplayName("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_paf)
            @Html.DisplayFor(model => model.app_paf)
            @Html.DisplayFor(model => model.apm_paf)
        </dd>

        <dt>
            @Html.DisplayName("DNI")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dni_paf)
        </dd>

        <dt>
            @Html.DisplayName("Fecha Nacimiento")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fna_paf)
        </dd>

        <dt>
            @Html.DisplayName("Sexo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sex_paf)
        </dd>

        <dt>
            @Html.DisplayName("Correo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cor_paf)
        </dd>

        <dt>
            @Html.DisplayName("Telefono")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel_paf)
        </dd>

        <dt>
            @Html.DisplayName("Direccion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dir_paf)
        </dd>

        <dt>
            @Html.DisplayName("Apoderado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apo_paf)
        </dd>

        <dt>
            @Html.DisplayName("Telefono Apoderado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel_apo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
