@model IEnumerable<CristoRey.Models.AREA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Area")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.des_are)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cod_are }) |
            @Html.ActionLink("Details", "Details", new { id=item.cod_are }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cod_are })
        </td>
    </tr>
}

</table>
