@model CristoRey.Models.GRADO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GRADO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Ubicacion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AULA.des_ubi)
        </dd>

        <dt>
            @Html.DisplayName("Grado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_gra)
        </dd>

        <dt>
            @Html.DisplayName("Nivel")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.niv_gra)
        </dd>

        <dt>
            @Html.DisplayName("Seccion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sec_gra)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cod_gra }) |
    @Html.ActionLink("Back to List", "Index")
</p>
