@model CristoRey.Models.PABELLON

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PABELLON</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nro. Pisos Pabellon")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nrp_pab)
        </dd>

        <dt>
            @Html.DisplayName("Nro. Aulas Pabellon")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nra_pab)
        </dd>

        <dt>
            @Html.DisplayName("Nro. Aulas por Piso")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nap_pab)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cod_pab }) |
    @Html.ActionLink("Back to List", "Index")
</p>
